
<div class="container">  
    <div align="right">
        <button mat-flat-button class="m-2" color="accent" routerLink="/projects">Projects Form</button>
    </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
          
      <ng-container matColumnDef="projLeadName">
        <th mat-header-cell *matHeaderCellDef> Project Leader Name </th>
        <td mat-cell *matCellDef="let element"> {{getLeaderNameById(element.leaderId)}} </td>
      </ng-container>
          
      <ng-container matColumnDef="employees">
        <th mat-header-cell *matHeaderCellDef> Developers </th>
        <td mat-cell *matCellDef="let element"> {{getEmployeeNames(element.collaborators)}} </td>
      </ng-container>
       
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Project Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      
      <ng-container matColumnDef="reqSkills">
        <th mat-header-cell *matHeaderCellDef> Required Skills </th>
        <td mat-cell *matCellDef="let element"> {{element.requiredSkills}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="updateProject(element.id)">
                <mat-icon>edit</mat-icon>
            </button>    
        </td>
      </ng-container>
      
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="deleteProject(element.id)">
                <mat-icon>delete</mat-icon>
            </button>    
        </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>