.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

mat-form-field{
    width: 100%;
}
.container{
    background-color: var(--background-color);
}

body.dark-theme .container{
    background-color: var(--background-color);
}
body.dark-theme .text{
    color: var(--text-color);
}
body.dark-theme .example-margin{
    color: var(--text-color);
}
