.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

mat-form-field{
    width: 100%;
}
.card p-5 mt-2{
    .dark-theme{
        color:darkslategray;
        
    }
}