<div class="employee-list">
  <div align="right">
    <button mat-flat-button class="m-2" color="primary" routerLink="/employee" (click)="onNavigate()">Sign Up</button>
  </div>
  <h2>Developers</h2>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tabhead">Name</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{ employee.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tabhead">Email</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{ employee.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="skills">
        <mat-header-cell *matHeaderCellDef class="tabhead">Skills</mat-header-cell>
        <mat-cell *matCellDef="let employee">
          <ul>
            <li *ngFor="let skill of employee.skills">{{ skill }}</li>
          </ul>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
