<div class="container">
  <div align="right">
    <button mat-flat-button class="m-2" routerLink="/employee-list" (click)="onNavigate()">Projects List</button>
  </div>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="project-form">
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="projectForm.get('name')?.invalid && projectForm.get('name')?.touched">
        Project name is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched">
        Description is required
      </mat-error>
    </mat-form-field>
  
    <div formArrayName="skills" class="skills-container">
      <label>Skills</label>
      <div *ngFor="let skill of skills; let i = index">
        <mat-checkbox [formControlName]="i">{{ skill }}</mat-checkbox>
      </div>
    </div>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Create Project</button>
  </form>
</div>


