/* You can add global styles to this file, and also import other style files */

:root {
  --box-color: #8A2BE2;
  --background-color: #B5D7F5;
  --text-color: black;
  --highlight: white;
}
.dark-theme{
  --background-color: #131415;
  --box-color: #2B2C31;
  --text-color: white;
  --highlight: #4f4c4c;
}

html, body {
    height: 100%;
    background-color: var(--background-color);
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:var(--text-color);
  }
  
  /* Global box-sizing */
  * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* Set the overall container to use flexbox */
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes the full viewport height */
  }
  

  
  /* Styles für Dark Mode */
  body.dark-theme {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  