.grid-container {
  border-radius: 30px; /* Adjust as needed for desired circularity */
  background-color: var(--box-color);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
  gap: 0px; /* Adjust the gap between rows and columns as needed */
  align-items: center; /* Align items vertically in the center */
  width: 100%; /* Ensure the grid container takes full width of the tile */
  grid-auto-rows: minmax(100px, auto); /* Ensure rows adjust dynamically */
  padding: 10;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.description *{
  background-color: var(--box-color);
  color: var(--text-color);
  word-wrap: break-word; /* Allow long words to wrap */
}

.description mat-panel-title{
  font-weight: bold;
}

.description.expanded {
  grid-column: 1 / -1; /* Make the description span across all columns */
  max-height: none;
}

.project-name-label, .workers-label, .lead-label, .description-label, .skills-label{
  grid-area: auto; /* Resets any specific grid-area assignment if needed */
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: var(--text-color);
  font-weight: bold;
}

.project-name, .workers, .lead { 
  color: var(--text-color);
}

/*<row-start> / <column-start> / <row-end> / <column-end>;*/
/* Positioning the labels in the first column */
.project-name-label { grid-area: 1 / 1 / 2 / 2; }
.workers-label { grid-area: 2 / 1 / 3 / 2; }
.lead-label { grid-area: 3 / 1 / 4 / 2; }
.description{ grid-area: 4 / 1 / 4 / 2;}

/* Positioning the values in the second column */
.project-name { grid-area: 1 / 2 / 2 / 3; }
.workers { grid-area: 2 / 2 / 3 / 3; }
.lead { grid-area: 3 / 2 / 4 / 3; }

.all{background-color: var(--background-color);}

body.dark-theme .grid-container{
  background-color: var(--background-color);
}
body.dark-theme .description *{
  background-color: var(--background-color);
  color:var(--text-color);
}
body.dark-theme .project-name, 
body.dark-theme .workers, 
body.dark-theme .lead {
  color: var(--text-color);
}
body.dark-theme .project-name-label, 
body.dark-theme .workers-label,
body.dark-theme .lead-label{
  color:var(--text-color);
}
