
<div class="container">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="assets/img/worker_icon.jpg" style="cursor: pointer;" alt="Worker CRUD" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/img/project_icon.png" style="cursor: pointer;" alt="Project CRUD" routerLink="/projects">
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>    
</div>